<div class="row">
  <sebra-drugs class="col-md-12" [patient]="patient" [druglist]="druglist"></sebra-drugs>
</div>

<div class="row">
  <sebra-vigilence id="sebra-vigilence" [listOfReactions]="reactionList" class="customRightPad"
                   [ngClass]="{'col-md-5':patient?.isFemale(), 'col-md-12': !patient?.isFemale()}"></sebra-vigilence>
  <sebra-diagnoses id="sebra-diagnoses" [patientDiagnoses]="diagnoses"
                   class="col-md-4 customRightPad customLeftPad"></sebra-diagnoses>
  <sebra-pregnancy id="sebra-pregnancy" *ngIf="patient?.isFemale()"
                   class="col-md-3 customLeftPad"></sebra-pregnancy>
</div>

<div id="third" class="row">
  <sebra-reporter-opinion [narrativeIncludeClinical]="reporterOpinion"
                          class="col-md-5 customRightPad"></sebra-reporter-opinion>
  <sebra-seriousness [e2bReport]="safetyReport" class="col-md-7 customRightPad customLeftPad"></sebra-seriousness>
</div>

<div id="otherInfoPanel" class="row">
  <sebra-other-info></sebra-other-info>
</div>


<h1>
  &nbsp;
  <!-- need som space -->
</h1>
