/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/less/bootstrap";

@panel-default-heading-bg: #5879A3;
@panel-default-text: white;
@panel-bg: lightgrey;


