<div class="ui-g">
  <div class="ui-g-6">
    <div id="knownReactions" class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
          Tidigare kända läkemedelsreaktioner
        </h4>
      </div>
      <div class="panel-body">
        <div class="ui-g">
          <textarea pInputTextarea></textarea>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------- -->
  <div class="ui-g-6">
    <div id="otherPatientInfo" class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
          Övrig information
        </h4>
      </div>
      <div class="panel-body">
        <div class="ui-g">
          <textarea pInputTextarea></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

