<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
      Bedömning
    </h4>
  </div>
  <div class="panel-body">
    <textarea id="reporterOpinionTextArea" pInputTextarea [(ngModel)]="narrativeIncludeClinical" rows="5"></textarea>
  </div>
</div>
