<div class="container-fluid">

  <!--TODO - use colors and fonts from "Inera grafisk profil" -->
  <!--TODO - use "loading" image/something while fetching data from backend-->

  <div *ngIf="safetyReport === undefined">
    <h1>Rapporten laddas...</h1>
  </div>


  <div *ngIf="safetyReport">

    <div class="page-header">
      <div class="row row-content">
        <div class="col-xs-12 col-sm-8" style="font-weight: bold">
          <p style="font-weight: bold; font-size: x-large">Biverkningsrapport</p>
          <p style="font-weight: bold; font-size: xx-large">
            {{patient?.firstName}} {{patient?.lastName}}, {{patient?.age}} år
          </p>
          <p style="font-weight: bold; font-size: x-large">{{patient?.gender}},
            {{patient?.identityNumber}}</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-sm-offset-1">
          <div align="right">
            <img src="../assets/logo_lakemedelsverket.gif" width="500">
          </div>
        </div>
      </div>
    </div>

    <div [ngSwitch]="viewState">
      <div *ngSwitchCase="'input'">
        <inputpage [safetyReport]="safetyReport" [patient]="patient"></inputpage>
        <div id="nextStop" class="pull-right">
          <button class="btn btn-primary" (click)="saveReport()">Spara</button>
          <button class="btn btn-primary" (click)="goToPreview()">Gå vidare</button>
        </div>
      </div>

      <div *ngSwitchCase="'preview'">
        <div>Förhandsgranskning</div>
        <div class="pull-right">
          <button class="btn btn-primary" (click)="goToInput()">Gå tillbaka</button>
          <button class="btn btn-primary" (click)="saveReport()">Spara</button>
          <button class="btn btn-primary" (click)="submitReport()">Skicka</button>
        </div>
      </div>


    </div>


  </div>
</div>


<!--<form #biv_form="ngForm" (ngSubmit)="onSubmit(biv_form)" class="form-inline biv-form">
  <div class="form-group" style="color: white">
    <label for="reportId">Rapport-id: </label>
    <input type="text" class="form-control" id="reportId"
           required
           [(ngModel)]="reportId" name="reportId">
  </div>

  <button type="submit" class="btn btn-success">Sök</button>-->

<!--<div style="white-space: pre;color:whitesmoke">(Tillgängliga rapport-id:n just nu i test:
    TODO: read all reports from db and list reportIds here?
</div>-->

<!--<div type="button" *ngIf="reportWrapper" id="btnSubmitReport" class="btn btn-warning btnSubmitReport"
     (click)="submitReport(biv_form)">
  Skicka in
</div>

</form>-->

<!--TODO: fix autosize behaviour (currently seem to require the user to click in the textarea before applied...) -->
<!--<form #biv_form="ngForm" class="biv-form">
  <p style="padding:3px;"></p>
  <div class="form-group" style="color: white">
    <label for="report">Rapport för rapport-id {{reportIdFromLastSearch}}:</label>
    <textarea autosize="autosize" class="form-control form-rounded" id="report" readonly="readonly"
              style="white-space:pre-wrap;background-color: white;color: black" rows="30%">
      {{reportWrapperString}}</textarea>
  </div>
  <p style="padding:3px;"></p>
</form>-->
<!--<textarea autosize="autosize" class="form-control form-rounded" id="reportOutside" readonly="readonly"
          style="white-space:pre-wrap;background-color: white;color: black">
      {{reportWrapperString}}</textarea>-->
