/*.form-inline > * {*/
/*margin:20px 5px 10px 10px*/
/*}*/

.biv-form {
  background: steelblue;
}

.biv-form > * {
  margin: 20px 5px 15px 10px;
}

#btnSubmitReport {
  float: right;
}

.customLeftPad
{
  padding-left: 3px;
}

.customRightPad
{
  padding-right: 3px;
}
