<div class="panel panel-default">
  <div class="panel-heading">
    <div class="ui-g">
      <div class="ui-g-6">
        <h4>
          <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
          Biverkningar
        </h4>
      </div>
      <div class="ui-g-6">
        <p-autoComplete appendTo="body" [suggestions]="filteredReactionOptions" class="pull-right"
                        (completeMethod)="findPrimarySourceReaction($event)"
                        [size]="40"
                        field="label"
                        placeholder="Lägg till biverkningar från ICD-listan...">
        </p-autoComplete>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table"
             summary="Välj i listan över diagnoser vad som kan betraktas som övriga sjukdomar.&nbsp;Om du saknar något i patientens egna lista kan du söka fram andra grundsjudomar i ICD-registret.">
        <thead>
        <tr>
          <th><!-- Add/Remove button --></th>
          <th>Symptom</th>
          <th>Startdatum</th>
          <th>Utfall</th>
          <th>Allvarligt?</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reaction of listOfReactions; let idx = index">
            <td><!-- Add/Remove button --></td>
            <td><span>{{reaction.primarysourcereaction}}</span></td>
            <td>
              <sebra-date [(date)]="reaction.reactionstartdate" [(format)]="reaction.reactionstartdateformat"></sebra-date>
            </td>
            <td>
              <p-dropdown [options]="availableOutcomes" [(ngModel)]="reaction.reactionoutcome" resetFilterOnHide="true"></p-dropdown>
            </td>
            <td>
              <p-radioButton name="reactionTermHighlighted{{idx}}" label="Ja" value="4" [(ngModel)]="reaction.termhighlighted"></p-radioButton>
              <p-radioButton name="reactionTermHighlighted{{idx}}" label="Nej" value="2" [(ngModel)]="reaction.termhighlighted"></p-radioButton>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

