<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Graviditet</h4>
  </div>
  <div class="panel-body">
    <p>När under graviditeten gavs läkemedlet?</p>
    <div class="ui-g">

      <div class="ui-g-4">
        <p-dropdown [options]="gestationPeriodOptions"
                    [(ngModel)]="gestationPeriod"
                    placeholder="Välj enhet..."
                    appendTo="body">
        </p-dropdown>
      </div>
      <div class="ui-g-3">
        <span class="ui-float-label" style="">
          <input pInputText id="float-input" type="text" size="5">
          <label for="float-input">antal</label>
        </span>

      </div>
    </div>
  </div>
</div>

