<div class="panel panel-default">
  <div class="panel-heading">
    <div class="ui-g">
      <div class="ui-g-6">
        <h4>
          <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
          Läkemedel för {{patientFirstName()}}
        </h4>
      </div>
      <div class="ui-g-6">
        <div id="addNewDrug" class="pull-right">
          <p-autoComplete appendTo="body" [suggestions]="filteredDrugs"
                          (completeMethod)="findDrug($event)"
                          [ngModel]="selectedDrug"
                          (ngModelChange)="setSelectedDrug($event)"
                          [size]="40"
                          field="label"
                          placeholder="Sök i läkemedelslistan...">
          </p-autoComplete>
          <button class="btn btn-default" (click)="addDrug()" [disabled]="selectedDrug==undefined">Lägg till läkemedel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive" ngForm #drugForm="ngForm">
      <table class="table" style="/*table-layout: fixed*/">
        <thead>
        <tr>
          <th style="/*width: 15em*/">Läkemedlets relevans för biverkningen</th>
          <th>Namn</th>
          <th>Form</th>
          <th>Styrka</th>
          <th>Dos</th>
          <th>Indikation</th>
          <th>Adm</th>
          <th>Batchnr</th>
          <th>Insatt</th>
          <th>Utsatt</th>
          <th>Upphörde vid utsättning?</th>
          <th>Återkom vid återinsättning?</th>
          <th><!-- remove --></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <td colspan="12"></td>
          <td>
            <button title="Lägg till tom rad" class="btn btn-default">
              <i class="fa fa-plus-circle"></i>
            </button>
          </td>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let drug of druglist.drugs;trackBy: trackByMedicinalProduct; index as i">
          <td>
            <p-dropdown name="{{i+'-drugcharacterizations'}}" [options]="drugcharacterizations" appendTo="body"
                        [(ngModel)]="drug.drugcharacterization" (ngModelChange)="logDrugCharacterization($event)"
                        required placeholder="Välj..."></p-dropdown>
          </td>
          <td>{{drug.medicinalproduct}}</td>
          <td>{{drug.drugdosageform}}</td>
          <td>styrka</td>
          <td><input name="{{i+'-drugdosagetext'}}" type="text" size="10" pInputText [(ngModel)]="drug.drugdosagetext"
                     required
                     #drugDosageText="ngModel"/>
            <!-- NOTE: for debug purposes, print erros in gui using eg {{drugDosageText.errors | json}}-->
            <div *ngIf="drugDosageText.invalid">
              <p *ngFor="let errorKey of getErrorKeys(drugDosageText)" [innerHTML]="errorDescription(errorKey)"></p>
            </div>
          </td>
          <td><input name="{{i+'-indication'}}" type="text" size="10" pInputText [(ngModel)]="drug.indication"/></td>
          <td>
            <sebra-admin-route-cell [drug]="drug"></sebra-admin-route-cell>
          </td>
          <td><input batchNumber name="{{i+'-drugbatchnumb'}}" type="text" size="10" pInputText
                     [(ngModel)]="drug.drugbatchnumb" #batchNumberModel="ngModel"/>
            <div *ngIf="batchNumberModel.invalid">
              <p *ngFor="let errorKey of getErrorKeys(batchNumberModel)" [innerHTML]="errorDescription(errorKey)"></p>
            </div>
          </td>
          <td>
            <sebra-date [(date)]="drug.drugstartdate" [(format)]="drug.drugstartdateformat"></sebra-date>
          </td>
          <td>
            <sebra-date [(date)]="drug.drugenddate" [(format)]="drug.drugenddateformat"></sebra-date>
          </td>
          <td>
            <p-dropdown name="{{i+'-reactdiscontinue'}}" [options]="drugReactDiscontinueOptions" appendTo="body"
                        [(ngModel)]="drug.reactdiscontinue" placeholder="..."></p-dropdown>
          </td>
          <td>
            <p-dropdown name="{{i+'-reactreturned'}}" [options]="drugReactReturnedOptions" appendTo="body"
                        [(ngModel)]="drug.reactreturned" placeholder="..."></p-dropdown>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="removeDrug(drug)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer" *ngIf="drugForm.invalid">FEL</div>
</div>
