<div id="diagnoses-panel" class="panel panel-default">
  <div class="panel-heading">
    <div class="ui-g">
      <div class="ui-g-4">
        <h4>
          <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
          Övriga sjukdomar
        </h4>
      </div>
      <div class="ui-g-8">
        <div class="pull-right">
          <p-autoComplete [suggestions]="filteredDiagnoses"
                          [ngModel]="selectedDiagnosis"
                          (ngModelChange)="setSelectedDiagnosis($event)"
                          (completeMethod)="doFilterDiagnoses($event)"
                          [size]="30"
                          appendTo="body"
                          field="label"
                          placeholder="Sök grundsjukdomar (ICD)...">
          </p-autoComplete>
          <button class="btn btn-default" (click)="newDiagnosis()" [disabled]="selectedDiagnosis==undefined">Lägg till</button>
        </div>
      </div>
    </div>

  </div>
  <div id="diagnosesPanel" class="panel-body">
    <div class="table-responsive">
      <table class="table"
             summary="Välj i listan över diagnoser vad som kan betraktas som övriga sjukdomar.&nbsp;
                      Om du saknar något i patientens egna lista kan du söka fram andra grundsjudomar i ICD-registret.">
        <thead>
        <tr>
          <th>Grundsjukdomar</th>
          <th>Debutdatum</th>
          <th><!-- Add/Remove button --></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let diagnosis of patientDiagnoses; let ix = index">
          <td><span>{{diagnosis.name}}</span></td>
          <td>
            <sebra-date [(date)]="diagnosis.startDate" [(format)]="diagnosis.dateFormat"></sebra-date>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="removeDiagnosis(diagnosis)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
