<div class="ui-g">
  <div id="seriousnessPanelGrid" class="ui-g-8">
    <div id="seriousnessPanel" class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
          Allvarlighetsgrad
        </h4>
      </div>
      <div class="panel-body">
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g-12">
              <p-checkbox name="seriousGrp" value="seriousnessdeath" label="Dödsfall" [(ngModel)]="seriousnessOptions" inputId="death"></p-checkbox>
            </div>
            <div class="ui-g-12">
              <p-checkbox name="seriousGrp" value="seriousnesslifethreatening" label="Livshotande" [(ngModel)]="seriousnessOptions"
                          inputId="lifethreatening"></p-checkbox>
            </div>
            <div class="ui-g-12">
              <p-checkbox name="seriousGrp" value="seriousnesshospitalization" label="Sjukhusinläggning eller förlängd sådan" [(ngModel)]="seriousnessOptions"
                          inputId="hospitalization"></p-checkbox>
            </div>
          </div>
          <div class="ui-g-6">
            <div class="ui-g-12">
              <p-checkbox name="seriousGrp" value="seriousnessdisabling" label="Bestående funktionsnedsättning" [(ngModel)]="seriousnessOptions"
                          inputId="disabling"></p-checkbox>
            </div>
            <div class="ui-g-12">
              <p-checkbox name="seriousGrp" value="seriousnesscongenitalanomali" label="Missbildning" [(ngModel)]="seriousnessOptions"
                          inputId="congenitalanomali"></p-checkbox>
            </div>
            <div class="ui-g-12">
              <p-checkbox name="seriousGrp" value="seriousnessother" label="Annan viktig medicinsk händelse" [(ngModel)]="seriousnessOptions"
                          inputId="other"></p-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="deathPanelGrid" class="ui-g-4">
    <div id="deathPanel" class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <sebra-info-button (onClick)="showInfo()"></sebra-info-button>
          Dödsfall
        </h4>
      </div>
      <div class="panel-body">
        <sebra-date [(date)]="dateOfDeath" format="yy-mm-dd"></sebra-date>
        <p>&nbsp;</p>
        <span class="ui-float-label">
              <input pInputText id="float-input" type="text" style="width: 100%">
              <label for="float-input">Ange orsak</label>
        </span>

      </div>
    </div>
  </div>

</div>
